<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gruppe7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gruppe7.styles.css" asp-append-version="true" />
    <style>
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f8f9fa;
            padding-top: 20px;
        }

            .sidebar p {
                text-align: center;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .sidebar .nav-item .btn {
                width: 100%;
                margin: 5px 0;
                padding: 10px 20px;
                border-radius: 20px;
                transition: background-color 0.3s, color 0.3s;
            }

                .sidebar .nav-item .btn:hover {
                    background-color: #007bff;
                    color: white;
                }

        .content {
            margin-left: 260px;
            padding: 20px;
        }

        .sidebar .brand-link {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <p><a href="/" class="brand-link">Gruppe7</a></p>
        <nav>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-primary nav-link" asp-area="" asp-controller="WeatherForecast" asp-action="Index">WeatherForecast</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary nav-link" asp-area="" asp-controller="Observasjon" asp-action="Index">Observasjoner</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


