@{
    ViewData["Title"] = "Værmelding";
}

<h1>Værmelding</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Dato
            </th>
            <th>
                Temperatur
            </th>
            <th>
                Kommentar
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- Tabellen inneholder eksempel verdier (placeholder) -->
            <tr>
                <td>
                    22-05-2024 
                </td>
                <td>
                    23 C&deg;
                </td>
                <td>
                    Sol
                </td>
            </tr>
    </tbody>
</table>
