@{
    ViewData["Title"] = "Eksamen - TSD2491: Full Stack Gruppe7";
}

<h1>Eksamen - TSD2491: Full Stack Gruppe7</h1>
<p>Velkommen til lokal værmelding</p>

<div class="row">
    <div class="col-auto">
        @using (Html.BeginForm("Index", "WeatherForecast", FormMethod.Get))
        {
            <button type="submit" class="btn btn-primary">Værmelding</button>
        }
    </div>
    <div class="col-auto">
        @using (Html.BeginForm("Index", "Observasjon", FormMethod.Get))
        {
            <button type="submit" class="btn btn-primary">Observasjoner</button>
        }
    </div>
</div>
